<!--<ul>
  <li *ngFor="let person of persons">{{person.name}}</li>
</ul>

<form (ngSubmit)="addPerson(f)" #f="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" ngModel name="name" required>
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" class="form-control" ngModel name="age" required>
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" class="form-control" ngModel name="email">
  </div>
  <button type="submit" class="btn btn-primary">Add person</button>
</form>-->

<h3>Person List ({{mode}})</h3>

<div *ngIf="errorMessage" class="alert alert-danger">
      {{errorMessage}}
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of personList">
      <td>{{ p.name }}</td>
      <td>{{ p.age }}</td>
      <td>{{ p.type }}</td>
    </tr>
  </tbody>
</table>

<hr>

<form #newPersonForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" required [(ngModel)]="person.name" name="name" #name="ngModel">
    <div *ngIf="!name.valid && name.touched" class="alert alert-danger">
      Name is required
    </div>
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age" required [(ngModel)]="person.age" name="age" #age="ngModel">
    <div *ngIf="!age.valid && age.touched" class="alert alert-danger">
      Age is required
    </div>
  </div>

  <div class="form-group">
    <label for="type">Person type</label>
    <select class="form-control" id="type" required [(ngModel)]="person.type" name="type" #type="ngModel">
      <option *ngFor="let type of personTypes" [value]="type">{{type}}</option>
    </select>
    <div *ngIf="!type.valid && type.touched" class="alert alert-danger">
      Type is required
    </div>
  </div>

  <button type="submit" [disabled]="newPersonForm.invalid" class="btn btn-primary" (click)="newPerson(); newPersonForm.reset()">New person</button> 
</form>